<h1>First Angular Tutorial</h1>
<input type="button" value="Test button" class="btn btn-primary" />
<hr />

<span>
  {{ companyName }}
</span>
<hr />

<span>
  Id = {{ employee.id }} <br />
  Name = {{ employee.name }} <br />
  Age = {{ employee.age }} <br />
  Salary = {{ employee.salary }}
</span>
<hr />

<!-- the placeholder attribute puts an image of content inside of a form, so when you click on the box and start typing it disapears. -->
<input type="text" class="form-control" placeholder="enter your name" />
<!-- value attribute puts actual content inside of a form, so if you want to change it you have to delete it first -->
<input type="text" value="firstName" class="form-control" />
<!-- pass a tring as entity binding -->
<input type="text" [value]="'my demo value'" class="form-control" />
<!-- entity binding -->
<input type="text" [value]="firstName" />
<input type="text" [value]="lastName" />
<hr />

<div class="contrainer">
  <div class="row">
    <div class="col-12 my-3">
      <input
        type="text"
        [value]="firstNum"
        [(ngModel)]="firstNum"
        placeholder="enter num1"
        class="form-control"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input
        type="text"
        [value]="secondNum"
        [(ngModel)]="secondNum"
        placeholder="enter num2"
        class="form-control"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-3">
      <input
        type="button"
        value="Addition"
        class="btn btn-primary"
        (click)="addNumbers()"
      />
    </div>
  </div>
  sum = {{ sum }}
  <hr />

  <div *ngIf="isRedColor; else notred">color is red</div>
  <ng-template #notred>color is not red</ng-template>
  <hr />

  <button type="button" (click)="toggleForm()" class="btn btn-warning">
    Toggle heading
  </button>
  <div *ngIf="show"><h3>show</h3></div>
  <hr />
  <div>
    <table class="table table-bordered">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Index</th>
        <th>Is first</th>
        <th>Is last</th>
        <th>Is even</th>
        <th>Is odd</th>
        <th>Count</th>
      </tr>
      <tr
        *ngFor="
          let e of employees;
          index as i;
          first as f;
          last as l;
          even as ev;
          odd as o;
          count as c
        "
      >
        <td>{{ e.id }}</td>
        <td>{{ e.name | titlecase }}</td>
        <td>{{ e.age }}</td>
        <td>{{ e.salary | currency : "CNY" }}</td>
        <td>{{ i }}</td>
        <td>{{ f }}</td>
        <td>{{ l }}</td>
        <td>{{ ev }}</td>
        <td>{{ o }}</td>
        <td>{{ c }}</td>
      </tr>
    </table>

    select any employee
    <select>
      <option *ngFor="let e of employees">
        {{ e.name }}
      </option>
    </select>
  </div>
  <hr />
</div>

<router-outlet></router-outlet>
